#header {
    text-align: center;
    color: darksalmon;
}

#h1_2 {
    text-align: center;
    color: chartreuse;
}

p {
    text-align: center;
    color: cadetblue;
}

#h1_3 {
    text-align: center;
    color: darkgoldenrod;
}
